.develope_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left : 10%;
    background: #ffffff;
    
}

.develope_contents_container{
    padding-top : 100px;
    padding-bottom: 100px;
}