.develope_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  background: #ffffff;
}

.develope_contents_container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#id1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: -1.1px;
  text-align: center;
  color: #333333;
}
#id2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: -1.1px;
  text-align: center;
  color: #333333;
}
