@media (min-width: 1920px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px)  {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}
