@media (min-width: 1920px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1919px) and (min-width: 1200px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}

//nav 줄이기, 카드 줄이기
//테블릿 환경
@media (max-width: 991px) and (min-width: 725px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
  // projectCard 2개로
  .project-cardview {
    width: 48.5%;
    background-color: #ffffff;
    margin-bottom: 49px;
  }
}
//모바일 환경
@media (max-width: 724px) {
  .container {
    width: 89%;
    margin: 0 auto;
  }
  // projectCard 1개로
  .project-cardview {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 49px;
  }
}
