input{
    border: 1px solid #b9b9b9;
    height:74px;
    width: 95.4%;
    margin-top:22px;
    background: none;
    padding: 0 2.3%;
    font-family: "Noto Sans KR", sans-serif;;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
}