.selectbox {
  display: inline;
  cursor: pointer;
}
.select_default {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  width: 178px;
  height: 44px;
  border-bottom: solid #b9b9b9 0.8px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -1.4px;
  text-align: left;
  color: #b9b9b9;
}
.select_default:hover {
  border-bottom: solid black 0.8px;
}

.select_cover {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 200vh;
  opacity: 0;
}
.select_open {
  transition: 1s;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -1.4px;
  text-align: left;
  color: #b9b9b9;

  & div {
    padding: 15px 17px;
    width: 178px;
    transition: 0.5s;
  }
  & div:hover {
    color: #333333;
    background-color: #e5e5e5;
  }
}
