#keyword_card_text_unselected {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #666666;
  border-radius: 8px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;

  min-width: 60px;
  margin-bottom: 25px;
  padding: 10px 24px;
}

#keyword_card_text_selected {
  border-radius: 8px;
  border: solid 1px #5c63ff;
  background-color: #eaebff;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #5c63ff;

  min-width: 60px;
  margin-bottom: 25px;
  padding: 10px 24px;
}

button + button {
  margin-left: 18px;
}
