//MyPortfolioSection.js

.mypage-portfolio-section{
    margin-top : 66px;
    width : 100%;
    margin-bottom: 121.2px;
}

.mypage-portfolio-section-title{
    height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.6px;
    text-align: left;
    color: #333333;
}

//PortfolioSimpleComponent.js

.portfoilo-simple-container{
    width: calc(100% - 2.9% - 3.5%);
    height: 184px;
    padding-top : 25.6px;
    padding-bottom: 24.8px;
    padding-left : 2.9%;
    padding-right : 3.5%;
    background-color: #ffffff;

    margin-top : 47.4px;
    display : block;
}

.portfolio-simple-container-space-between{
    display: flex;
    justify-content: space-between;
}

.portfolio-simple-left{
    display: flex;
}

.portfolio-simple-right{
    display : inline-block;
}

.portfolio-simple-img{
    width: 184px;
    height: 184px;
    background-color: #efeff4;

    display:inline-block;
}

.portfolio-simple-contents-container{
    margin-left : 33px;
    display : inline-block;
}

.portfolio-simple-title{
    margin-top : 15px;
    margin-bottom: 25px;

    height: 38px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -1.5px;
    text-align: left;
    color: #333333;

    display: block;
}

.portfolio-simple-row{
    margin-bottom : 8px;

    display: block;
}
.portfolio-simple-row-title{
    width: 70px;
    height: 27px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.9px;
    text-align: left;
    color: #333333;

    margin-right : 16px;
    display: inline-block;
}
.portfolio-simple-row-content{
    height: 27px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.9px;
    text-align: left;
    color: #666666;
    display: inline-block;
}

.portfolio-simple-delete-button{
    width: 81px;
    height: 39px;
    padding-top : 5px;

    border: solid 1px #e5e5e5;
    background-color: #ffffff;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: center;
    color: #666666;


    display: inline-block;
    cursor: pointer;
}

.portfolio-simple-edit-button{
    margin-left : 14px;
    width: 81px;
    height: 39px;
    padding-top : 5px;

    border: solid 1px #5c63ff;
    background-color: #ffffff;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: center;
    color: #5c63ff;

    display: inline-block;
    cursor: pointer;
}