//ProjectSimpleHOC.js

.mypage-finish *{
    color :  #b9b9b9 !important;
}

.mypage-finish .jobgroup-circle{
    background-color:  #b9b9b9 !important;
}


.recruit-simple-container{
    margin-top : 30px;
    
    width : 100%;
    height: 130px;
    background-color: #ffffff;

    display: block;
}

.recruit-simple-flex{
    margin-left : 4.5%;
    margin-right: 4.5%;
    display: flex;
    justify-content: space-between;
}

.recruit-simple-title-container{
    display : inline-block;
    
}

.recruit-simple-title{
    display : block;

    height: 36px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
    color: #333333;

    margin-top : 30px;
}

.recruit-simple-jobgroup{
    margin-top : 6px;
}

.recruit-simple-contents-container{
    display:inline-block;
}

//RecruitSimpleComponent.js

.recruit-simple-applicant{
    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -1px;
    text-align: right;
    color: #333333;

    margin-top : 51px;
    display: inline-block;
}

.recruit-simple-view{
    
    display: inline-block;
    margin-left : 12px;
}

.recruit-simple-view-text{
    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -1px;
    text-align: right;
    color: #5c63ff;

    margin-top : 51px;
}

.recruit-simple-finish-button{
    width: 128px;
    height: 52px;
    background-color: #5c63ff;

    margin-top : 43px;

    display: inline-block;
  
    margin-left : 26.1px;
}

.recruit-simple-finish-text{

    width: 100%;
    text-align: center;
    margin-top : 11px;

    height: 29px;
    font-family: "Noto Sans KR",sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #ffffff;
}

.recruit-simple-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.recruit-simple-view{
    cursor: pointer; 
}

.recruit-simple-finish-button{
    cursor: pointer;
}

.mypage-finish .recruit-simple-finish-button{
    background-color:  #e5e5e5 !important;
}

.mypage-finish .recruit-simple-finish-text{
    color: #999999 !important;
}
