#apply_completed_container {
  background: #5c63ff;
  text-align: center;

  margin-top: 200px;
  width: 92%;
  padding: 55px 4%;
}

#modal_cancle_button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
#apply_completed_icon {
  font-size: 90px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -5.3px;
  color: #ffffff;

  margin: 35px 0;
}
#apply_completed_text1 {
  margin-top: 60px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -2.4px;

  color: #ffffff;
}

#apply_completed_text2 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -1.3px;
  color: #ffffff;
}
#apply_mypage_config {
  margin-left: 28.5%;
  width: 43.3%;
  text-align: center;
  padding-top: 25px;
  height: 71px;
  background: #1f254b;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -1.8px;
  margin-top: 80px;
  color: #ffffff;
  cursor: pointer;
}
