#first_modal_contents_container {
  text-align: left;
  width: 100%;
  margin-top: 23px;
}
#modal_position_selector_title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1.2px;
  text-align: left;
  color: #333333;
}

#modal_most_select_icon {
  font-family: "Futura";
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -1.8px;
  text-align: left;
  color: #ff3e85;
}
#first_modal_body_container {
  margin-left: 6%;
  width: 88%;
}
#first_modal_head_container {
  text-align: center;
  width: 100%;
  background-image: url("https://cdn.zeplin.io/5d8afd2a43adab15d5458ff0/assets/7CDB8BF0-8F5E-4284-B01A-B4AC1CBF83BA.svg");
}
#first_modal_head_text_container {
  margin-bottom: 60px;
}
#first_modal_head_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#first_modal_head_icon {
  margin-top: 55px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 40px;
  font-family: "Futura";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -1px;
  text-align: left;
  color: #5c63ff;
}

#first_modal_header_title {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -1.9px;
  text-align: center;
  color: #ffffff;
}

#first_modal_header_subtitle {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #ffffff;

  margin: 0;
  padding-bottom: 70px;
}
.first_modal_body_select {
  width: 43%;
  height: 96px;

  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -1.6px;
  text-align: left;
  color: #1f254b;
}

.first_modal_body_arrow {
}

#first_modal_body_option {
  padding-left: 50px;
}
#apply_modal_next_first_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 96px;
  background-color: #1f254b;
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -1.8px;
  text-align: left;
  color: #ffffff;
  margin-top: 92px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 22px;
}

.questionList {
  & .question_container {
    margin-top: 40px;
  }
  & #questionQ {
    font-family: "RedHatDisplay";
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -1.4px;
    text-align: left;
    color: #1f254b;
  }
  & #questionNum {
    font-family: "RedHatDisplay";
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -1.4px;
    text-align: left;
    color: #4244ff;
  }
  & #questionContent {
    margin-left: 26px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
    color: #333333;
  }
  & #Redstar {
    margin-left: 12px;
    font-family: "RedHatDisplay";
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.8px;
    text-align: left;
    color: #ff3e85;
  }
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
