#question_container{
    margin-top : 82px;
}
#question_number_indexing_container{
    font-family: 'Futura';
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -1.8px;
    text-align: left;
    color: #1f254b;
    margin-right: 12px;
}

#question_contents{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -1.8px;
    text-align: left;
    color: #333333;
}
#question_to_answer_container{
    margin-top : 36px;
}
#qustion_to_answer_input{
    width: 98.3%;
    height: 96px;
    border: solid 1px #b9b9b9;
    background-color: #ffffff;
    padding-left : 25px;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -1.6px;
    text-align: left;
    
}