#recruit_search_container{
    width: 1200px;
    height: 93px;
    box-shadow: 5px 7px 33px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

#recruit_search_text{
    width: 400px;
    height: 93px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: -1.2px;
    text-align: left;
    color: #666666;
}