#login_modal_container{
    text-align: center;
    width : 100%;
    height : 700px;
    overflow-y: scroll;
}
#login_modal_body_container{
    margin-left : 5.7%;
}
#login_modal_header_contents{
    margin-top : 50px;
    display: inline-block;
    margin-left : 5.7%;
    width : 50%;
    font-family:  "Noto Sans KR", sans-serif;;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: -2.4px;
    text-align: left;
    color: #333333;
}

