.enrollment_first_bottom_container{
    display: flex;
    margin-left : -50%;
    width : 200%;
    height : 150px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.enrollment_first_bottom_next{
    width: 272px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c63ff;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.enrollment_first_position_container{
    display : flex;
}