.enrollment_first_bottom_container{
    display: flex;
    margin-left : -50%;
    width : 200%;
    height : 150px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.enrollment_first_bottom_next{
    width: 272px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c63ff;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.enrollment_first_position_container{
    display : flex;
}

.now_team_container{
    margin-top : 50px;
}

#nowteam_text{
    margin-top : 50px;
    margin-bottom : 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.4px;
    text-align: left;
    color: #333333;
}

.enrollment_keyword_container{
    display: flex;
    flex-direction: column;
}

#enrollment_keyword_title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -1.4px;
    text-align: left;
    color: #333333;
}

#enrollment_keyword_subtitle{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
    color: #b9b9b9;
}

.enrollment_keywords_container{
    display: block;
    
}
.project_title{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width : 80%;
}
.project_introduce{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width : 80%;
}
.project_info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width : 80%;
}

.enrollment_first_position_container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width : 80%;
}