#enroll_question_text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: -1.4px;
  text-align: left;
  color: #333333;
}

.enroll_question_container {
  border-top: 1px solid #f5f7fa;
}

.enroll_bottom_container {
  background-color: white;
  display: flex;
  margin-left: -50%;
  width: 200%;
  height: 146px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.enrollment_bottom_button_prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 63px;
  border: solid 1px #b9b9b9;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-right: 26px;
}

.enrollment_bottom_button_next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 63px;
  background-color: #5c63ff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}
