.management_container{
    padding-top : 94px;
    margin-left : 13%; 
    padding-bottom: 10px;
    
}
.keyword_management_text{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.6px;
    text-align: left;
    
    color: #333333;
}

.keyword_management_body_text{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 33px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -1.65px;
    text-align: left;
    color: #333333;
}
.keyword_management_bottom_container{
    padding-top: 38px;
    padding-bottom : 40px;
    display : flex;
    justify-content: center;
    align-items: center;
}
.keyword_management_refresh_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 63px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    margin-right: 19px;
}
.keyword_commit{
    border: none;
    background-color: #5c63ff;
    
}
.keyword_management_bottom_text{
    font-family: SourceHanSansK;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}
.keyword_commit_text{
    color: #ffffff;
}