#reqcruit_root {
  background: #f5f7fa;
  padding-top: 50px;
}
#recruit_container {
  padding-bottom: 30px;
}
#project_serch_text {
  padding-top: 100px;
  padding-bottom: 35px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: -1.9px;
  text-align: left;
  color: #000000;
}
#keyword_container {
  margin-top: 89px;
}
#keyword_text {
  margin-bottom: 39px;
  height: 33px;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.4px;
  text-align: left;
  color: #1f254b;
}
#keyword_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
}
#recruit_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 140px;
  text-align: center;
}
.recruit_more_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 45%;
  border: none;
  width: 120px;
  height: 33px;

  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.6px;

  background-color: #4244ff;
  color: white;

  @media (max-width: 724px) {
    margin-left: 30%;
  }
}
