.CardView-Wrapper {
  width: 100%;
  position: relative;
}


.CardView-Hover-Left {
  width: 50px;
  height: 120px;
  background-color: rgba($color: #2c2c2c, $alpha: 0.2);

  position: absolute;
  z-index: 100;
  display: none;

  text-align: center;

  border: 0px;
  padding: 0;
}

.CardView-Hover-Right {
  width: 50px;
  height: 120px;
  background-color: rgba($color: #2c2c2c, $alpha: 0.2);

  display: block;
  position: absolute;

  z-index: 100;

  left: calc(100% - 50px);
  display: none;

  text-align: center;

  border: 0px;
  padding: 0;
}


.CardView-Wrapper:hover .CardView-Hover-Left {
  display: block;
  outline: 0px;

  cursor: pointer;
}

.CardView-Wrapper:hover .CardView-Hover-Right {
  display: block;
  outline: 0px;

  cursor: pointer;
}

.CardView-Wrapper:hover .CardView-Hover-Mobile{
  display: none !important;
}

.CardView-Section {
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;

}


@media (max-width: 724px) {
.CardView-Wrapper-Absolute{
  position: absolute;
  left : 0;
  width: 100%;
}
}

.CardView-Section .post-cardview {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.CardView-Section .project-cardview {
  position: relative;
  display: inline-block;

  margin-right: 3.5%;
}

//모바일 환경

@media (max-width: 767px) {
  .CardView-Section .project-cardview{
    width : 74.7%;
    margin-right: 5.6%;
  }

  .CardView-Section .post-cardview{
    width : 74.7%;
    margin-right: 5.6%;
  }
  
}