@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

.detail-qna-wrapper {
  width: 100%;
  padding-top: 58px;
  background-color: #f5f7fa;

  padding-bottom: 134px;
}

.detail-qna-title {
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -1.8px;
  text-align: left;
  color: #333333;

  display: block;
}

.detail-qna-ask-go-double{
  height: 29px;
  font-family: "Noto Sans KR",sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -1px;
  text-align: left;
  color: #333333;
  display: block;
  margin-top : 50px;
}

.detail-qna-input-flex {
  display: flex;
}

.detail-qna-input-wrapper {
  width: calc(100% - 184px);
  height: 124px;
  background-color: #ffffff;
  margin-right : 14px;

  display: inline-block;
}

.detail-qna-submit {
  width: 170px;
  height: 78px;
  background-color: #5c63ff;
  padding-top: 46px;
  text-align: center;

  font-family: "Montserrat", sans-serif;

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.2px;
  color: #ffffff;

  cursor: pointer;

  display: inline-block;
}

.detail-qna-input {
  resize: none;
  margin-top: 21px;

  border: 0px;
  height: 82px;
  width: calc(100% - 64px);

  overflow-y: scroll;

  font-family: "Montserrat", sans-serif;

  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.2px;
  text-align: left;
  color: #666666;

  margin-left: 32px;
  margin-right: 32px;
}

.detail-qna-input:focus {
  outline: 0px;
}

.detail-qna-input-container {
  margin-top: 15px;
  display: block;
  width: 100%;
}

.detail-qna-contents {
  padding-top: 5.5px;
  background-color: #ffffff;
  width: 100%;

  margin-top: 48px;
}

//detail - q

.detail-q-wrapper {
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  padding-top: 52px;
  padding-bottom: 52px;

  display: block;
}

.detail-q-header {
  display: flex;
  justify-content: space-between;
}

.detail-q-title-wrapper{
  display: inline-block;
}

.detail-q {
  height: 40px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 38px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: -1.9px;
  text-align: left;
  color: #1f254b;

  display: inline-block;

  vertical-align: top;
}


.detail-name {
  height: 29px;
  font-family: "Noto Sans KR",sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -1px;
  text-align: left;
  color: #333333;

  display: inline-block;
  margin-top : 10px;
  margin-left : 10px;
}

.detail-time {
  height: 20px;
  font-family: "Noto Sans KR",sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.7px;
  text-align: left;
  color: #b9b9b9;
  margin-top : 21px;
  margin-left : 12px;

  display: inline-block;
}

.detail-content {
  font-family: "Noto Sans KR";

  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -1.1px;
  text-align: left;
  color: #333333;

  margin-top: 16px;

  display: block;
}

//detail - a

.detail-a-stair {
  margin-left: 18px;
  width: 26.5px;
  height: 28.4px;
  border-left: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;

  display: inline-block;
}

.detail-a {
  margin-left: 27.5px;

  width: 27px;
  height: 46px;
  font-family: Futura;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -1.8px;
  text-align: left;
  color: #4244ff;

  display: inline-block;
}

.detail-a-content-wrapper {
  margin-left: 37px;
  display: inline-block;

  width: calc(100% - 138px);
}

.detail-a-wrapper {
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  padding-top: 44.5px;
  padding-bottom: 37.5px;

  vertical-align: top;

  display: flex;
}

.detail-wrapper-wrapper {
  width: calc(100% - 90px);
  margin-left: 45.5px;
  margin-right: 45.5px;
}

.detail-qna-more {
  margin-top: -1px;
  border-top: solid 1px #e5e5e5;
  background-color: #ffffff;
  width: 100%;

  height: 88.5px;
  text-align: center;
}

.detail-qna-more-contents {
  cursor: pointer;
  height: 36px;

  margin-top: 25.5px;
}

.detail-qna-more-qna {
  height: 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -1.2px;
  text-align: left;
  color: #5c63ff;

  margin-top: 3px;

  display: inline-block;
}

.detail-qna-more-more {
  height: 36px;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -1.2px;
  text-align: left;
  color: #5c63ff;

  margin-left: 8px;

  display: inline-block;
}

.detail-qna-more-plus {
  margin-top: 8.4px;
  margin-left: 8.4px;

  display: inline-block;
}
