@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

.detail-qna-wrapper{
    width : 100%;
    padding-top: 58px;
    background-color: #f5f7fa;
}


.detail-qna-title{
    height: 44px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -1.8px;
    text-align: left;
    color: #333333;

    display: block;
}

.detail-qna-input-wrapper{
    margin-top : 65px;
    width: calc(100% - 170px - 64px);
    height: 72px;
    background-color: #ffffff;

    display: inline-block;


}

.detail-qna-submit{
    width: 170px;
    height: 50px;
    background-color: #5c63ff;
    padding-top : 22px;
    text-align:  center;

    font-family: 'Montserrat', sans-serif;

    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: -1.2px;
    text-align: left;
    color: #ffffff;

    cursor: pointer;

    display: inline-block;
}

.detail-qna-input{
    resize: none;
    margin-top : 21px;

    border : 0px;
    height: 30px;
    width: 100%;

    overflow: hidden;

    white-space: nowrap;    

    font-family:'Montserrat', sans-serif;

    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: -1.2px;
    text-align: left;
    color: #666666;
}

.detail-qna-input:focus{
    outline: 0px;
}

.detail-qna-input-container{
    display: block;
    width: 100%;
}

.detail-qna-contents{
    padding-top: 5.5px;
    background-color: #ffffff;
    width: 100%;

    margin-top: 48px;
}

.detail-q-wrapper{
    width: 100%;
    border-bottom:  solid 1px #E5E5E5;
    padding-top : 47.5px;
    padding-bottom: 23.5px;
}

.detail-q{
    width: 32px;
    height: 46px;
    font-family: Futura;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -1.8px;
    text-align: left;
    color: #1f254b;

    display: inline-block;

    vertical-align: top;
}

.detail-q-content-wrapper{
   display: inline-block;
   margin-left : 29px;
   width: calc(100% - 61px);
}

.detail-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -0.9px;
    text-align: left;
    color: #333333;

    display: block;
}

.detail-content{
    font-family: "Noto Sans KR";
    
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: left;
    color: #333333;

    margin-top : 9px;

    display: block;
}

.detail-a-stair{
    margin-left : 18px;
    width: 26.5px;
    height: 28.4px;
    border-left: solid 2px #e5e5e5;
    border-bottom:  solid 2px #e5e5e5;

    display: inline-block;
}

.detail-a{
    margin-left :27.5px;

    width: 27px;
    height: 46px;
    font-family: Futura;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -1.8px;
    text-align: left;
    color: #4244ff;

    display: inline-block;
}

.detail-a-content-wrapper{
    margin-left : 37px;
    display: inline-block;

    width: calc(100% - 250px);
}

.detail-a-wrapper{
    width: 100%;
    border-bottom:  solid 1px #E5E5E5;
    padding-top : 44.5px;
    padding-bottom: 37.5px;

    vertical-align: top;
    
}

.detail-wrapper-wrapper{
    width: 100%;
    padding-left : 32px;
    padding-right: 32px;
}

.detail-qna-more{

}