.user-profile-thubnail{
    width : 100%;
    height : 100%;
    border-radius: 50%;;
    background-color: #f5f7fa;
}

.user-profile-img-img{
    width : 100%;
    height : 100%;
    border-radius: 50%;;
    object-fit: cover;
}
